
font-family: 'Roboto', sans-serif;


*{
    box-sizing: border-box;
    
}
body{
    color: #4B4B4B;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #0998FF;
}
ul{
    list-style: none;
}
li{
    list-style-type: none;
}
.container{
    max-width: 1600px;
    padding: 20px;
    z-index: 2;
    margin: 0 auto;
}
.header{
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
    width: 100%;   

}
.header_inner{
display: flex;
    justify-content: space-between;
}
.list_item{
    display: flex;
}
.href_link{
    color: #4B4B4B;
    transition: .3s;

}
.href_link_sign:hover,
.href_link:hover{
    background-color: #FFC32C;
    border-radius: 40px;
    padding: 3px 15px;

}
.link_item{
    padding-top: 13px;
}
.link_item_sign{
    padding-top: 13px;

}
.link_item_acc{
    display: none;
    padding-top: 13px;
}
.href_link_sign{
    color: #4B4B4B;

    transition: .3s;
}
.intro{
    margin-top: 30px;
}
.menu{
    padding-left: 20px;
    width: 100%;
}
.list_item{
    display: flex;
    justify-content: space-between;

    padding: 0;
}
.intro_inner{
    display: flex;
}
.title_intro{
    color: #FFC32C;
    font-size: 43px;
}
.sub_title_intro{
    font-size: 31px;
    color: #4B4B4B;
    max-width: 400px;
}
.name_sub_title_intro{
    font-size: 36px;
    padding-top: 20px;
}
.intro_inner{
    border: 4px solid #D2E5F1;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.content_intro{
    padding-top: 100px;
}
.sub_title_intro{
    padding-top: 40px;
}
.btn_intro{
    padding-top: 80px;
}
.href_btn_intro{
    background: #40B3E0;
border-radius: 42px;
    color: #fff;
    padding: 13px 25px;
}
.main_content_skills{
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
}
.list_right_skills{
    text-align: right;

}
.list_left_skills li{

}
.list_right_skills li{
    max-width: 550px;
    padding-top: 20px;

    font-size: 22px;
}

.list_left_skills li{
    max-width: 550px;
    padding-top: 20px;
    
    font-size: 22px;
}
.tarrifs_title,
.whoam_title,
.module_title,
.title_skills{
    font-size: 32px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 2px rgba(210, 229, 241, 0.6);
    padding: 15px;
    border-radius: 21px;
}
.module .container{
    background-image: url(img/fone_modul.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.bonus_module{
    text-align: center;
    margin-top: 120px;
    background: #FFFFFF;
box-shadow: 2px 0px 9px #D2E5F1;
border-radius: 61px;
}
.carefully_bonus_module{
    margin-top: 20px;

}
.orange_color_span{
    color: #FFC32C;
    text-align: center;
}
.title_bonus_module{
    font-size: 23px;
    text-align: center;
    padding-top: 25px;
}
.lesson_bonus_module{
    margin-top: 20px;
    font-size: 21px;
    background: #D2E5F1;
    border-radius: 17.5px;
    padding: 7px 20px;
}
.lesson_block_module{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.title_lesson_bonus_module{
    padding-top: 10px;
    padding-bottom: 20px;
}
.title_block_moduls{
    font-size: 25px;
    background-color: #FFC32C;
    padding: 1px 8px;
    border-radius: 50px;
}
.items_moduls{
    display: flex;
    justify-content: space-between
    ;
}
.block_moduls{
    background: rgba(255, 255, 255, 0.78);
    box-shadow: 0px 4px 15px rgba(64, 179, 224, 0.4);
    border-radius: 265px;
    padding: 150px 100px;
    border: 14px solid #D2E5F1;

    border-radius: 265px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}
.text_moduls_btn_block{
    padding-top: 4px;
    cursor: pointer;
}
.block_title_moduls{
    display: flex;
    justify-content: center;
}
.sub_title_block_moduls{
    color: #112530;
    font-size: 22px;
    margin-top: 20px;
    text-align: center;

    padding: 5px;
}
.img_moduls_btn_block img{
    width: 24px;
    height:24px;

    margin-right: 20px;
}
.btn_moduls_block1,
.btn_moduls_block2,
.btn_moduls_block3,
.btn_moduls_block4,
.btn_moduls_block5{
    display: flex;
    background: #40B3E0;
    border-radius: 60px;
    margin-top: 30px;
    padding: 9px 75px;
}
.btn_moduls_block1.active,
.btn_moduls_block2.active,
.btn_moduls_block3.active,
.btn_moduls_block4.active,
.btn_moduls_block5.active{
    padding: 9px 114px;
}
.active_block_moduls1,
.active_block_moduls2,
.active_block_moduls3,
.active_block_moduls4,
.active_block_moduls5{
    display: none;
}
.active_block_moduls1.active,
.active_block_moduls2.active,
.active_block_moduls3.active,
.active_block_moduls4.active,
.active_block_moduls5.active{
    display: block;
}


.active_block_moduls1,
.active_block_moduls2,
.active_block_moduls3,
.active_block_moduls4,
.active_block_moduls5{
    text-align: center;
}
.text_moduls_active{
    max-width: 300px;
    color: #112530;
    font-size: 20px;
    padding-top: 20px;

}
.text_lesson_active_moduls{
    margin-top: 20px;
    padding: 2px 10px;
    border-radius: 16px;    
    background-color: #0998FF;
    color: #fff;
}
.lesson_block_active_moduls{
        display: flex;
    justify-content: center;
}
.block_whoam{
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(210, 229, 241, 0.6);
    padding-left: 130px;
    background-image: url(img/fone_whoam.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 60px;
    border-radius: 44px;
}
.link_whoam{
    color: #40B3E0;
    font-size: 20px;
    padding-top: 16px;
    font-size: 24px;
    max-width: 600px;
    padding-bottom: 12px;
    list-style-type: disc;
}
.block_whoam{
}
.link_whoam span {
    color:#FFC32C;

}
.tariffs{
    background-image: url(img/tariff_fone.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 90px;
}
.content_tariffs{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.block_tariffs{
    background: #D2E5F1;
border-radius: 46px;
text-align: center;
padding: 40px 20px;
}
.tariffs_title_block{
    background-color: #fff;
    font-size: 23px;
    border-radius: 50px;
    padding: 3px 20px;
}
.tariffs_wrapper_title_block{
    display: flex;
    justify-content: center;
}
.text_tariffs_block{
    font-size: 20px;
    max-width: 350px;
    padding-top: 16px;
}
.href_btn_tariffs{

    color: #FFC32C;
    font-size: 20px;
}
.btn_tariffs{
    max-width: 300px; 
    background-color: #fff;
    border-radius: 44px;
    margin-left: 23px;
    padding: 6px 0px;
    margin-top: 30px;
}
.sub_title_tariffs_block{
    padding-top: 30px;
    color: #112530;
    font-size: 37px;
    text-transform: uppercase;
}
.teacher{
    margin-top: 100px;
}
.teacher_inner{
    display: flex;
    justify-content: space-between;
}
.title_teacher{
    font-size: 50px;
    color: #FFC32C;
}
.teacher_img{
    width: 600px;
}
.content_teacher{
    padding-left: 40px;
}
.text_teacher{
    color: #000;
    font-size: 20px;
    padding-top: 14px;
    padding-left: 40px;
}
.teacher_content_img{
    padding-top: 30px;
    padding-left: 80px;
}
.footer{
    margin-top: 50px;
    background: #9CD4F7;
}
.footer_inner{
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    padding: 40px;
    font-size: 20px;
    color: #000;
    text-align: center;
}
.title_second_footer{
    font-size: 40px;
    padding-bottom: 35px;
}
.requisites{
    padding-top: 15px;
    font-size: 28px;
    
}
.text_requisites_footer{

}
.copyright_footer{
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.burger_header{
    display: none;
}
.active_block_moduls1,
.active_block_moduls2,
.active_block_moduls3,
.active_block_moduls4,
.active_block_moduls5{
    display: none;
}
.active_block_moduls1.active,
.active_block_moduls2.active,
.active_block_moduls3.active,
.active_block_moduls4.active,
.active_block_moduls5.active{
    display: block;
}

.btn_active_moduls.active .active_block_moduls{
    display: none;
}
.active_block_moduls.none{
    display: none;
}
.btn_moduls_block.none{
    display: flex;
}
@media(max-width:1100px){
    .teacher_img {
        width: 493px;
    }
}

@media(max-width:1030px){
    .img_intro{
            width: 470px;
    height: 470px;
    }
    .content_intro {
        padding-top: 41px;
    }
    .items_moduls{
        flex-wrap: wrap;
        justify-content: center;
    }

}
@media(max-width:958px){
    .title_teacher {
        font-size: 45px;
        color: #FFC32C;
    }
    .text_teacher {
        padding-left: 20px;
    }
}
@media(max-width:917px){
    .img_intro{
    display: none;
}
.intro_inner{
    text-align: center;
}
.list_left_skills{
    padding: 0;
}
.intro_inner {


    justify-content: center;
}
    .btn_intro{
        padding-bottom: 30px;
    }
    .title_intro {
        font-size: 34px;
    }
    .sub_title_intro {
        font-size: 23px;
    }
    .name_sub_title_intro {
        font-size: 28px;
    }

}
@media(max-width:920px){
    .teacher_img {
        width: 392px;
    }
}
@media(max-width:874px){
    .header .container{
        padding: 10px;
    }
    .href_link{
        font-size: 14px;
    }
    .content_tariffs{
        flex-wrap: wrap;
        justify-content: center;
    }
    .block_tariffs{
        margin-top: 50px;
    }
    .link_item_sign{
        font-size: 14px;
    }
    .block_whoam {
        padding-left: 15px;
    }
}
@media(max-width:820px){
    .teacher_inner{
        flex-wrap: wrap;
    }
    .content_teacher {
     padding-left: 0px;
    }
}
@media(max-width:766px){
    .burger_header{
        cursor: pointer;
        position: relative;
        width: 35px;
        height: 20px;
        display: block;
        top: 25px;
        z-index: 6;
    }
    .main_content_skills{
        display: block;
    }
    .list_right_skills{
        text-align: left;
    }
    .list_right_skills{
        padding: 0;
    }
    .burger_header::before,
    .burger_header::after{
        content: '';
        background-color: #D2E5F1;
        height: 4px;
        position: absolute;
        width: 100%;
        border-radius: 6px;
        transition: all 0.3s;
        left: 0;
    }
    .burger_header::before{
        top: 0;
    }
    .burger_header::after{
        bottom: 0;
    }
    .burger_header span{
        position: absolute;
        background-color: #D2E5F1;
        left: 0;
        width: 100%;
        height: 4px;
        transition: all 0.3s;
        border-radius: 6px;
        top: 8px;

    }
    .burger_header.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    body.lock{
        overflow: hidden;
    }
    .menu{
        margin-top: 0px;
    }
    nav {
        top: -100%;
        position: fixed;
        top: 0;
        transition: all 0.3s;
        display: none;
        left: 0;
        right: 0;
        text-align: right;
        background: #FFFFFF;
        box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
        padding: 0px;
        border-radius: 0px;
        z-index: 3;
        
        width: 100%;
        padding-top: 50px;
    }
    .menu.active{
        display: block;
    }
    .list_item{
        flex-direction: column;
        text-align: left;
        padding-top: 52px;
        padding-bottom: 30px;
    }
    .href_link_acc,
    .href_link_sign,
    .href_link{
        font-size: 22px;
    }
    .block_logo{
        z-index: 99;
    }
    .link_item_acc,
    .link_item_sign,
    .link_item{
        line-height: 13px;

        padding-top: 25px;
    }

    header ul{
        padding: 0px;
        margin: 0px;
        text-align: center;
        line-height: 60px;
    }
    .burger_header.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    
    .burger_header.active:before{
        transform: rotate(45deg);
        top: 8px;
    }
    .burger_header.active span{
        transform: scale(0);
    }
}
@media(max-width:670px){
    .link_whoam {
        font-size: 20px;
    }
    .footer_inner{
        flex-wrap: wrap;
    }
    .third_block{
        padding-top: 20px;
    }
    .link_whoam span {
        color: #000;
    }
}

@media(max-width:635px){
    .burger_header{
        top: 18px;
    }
}
@media(max-width:503px){
    .block_moduls {
        padding: 86px 43px;
    }
}
@media(max-width:550px){
    .block_whoam {
        padding-left: 2px;
    }
    .block_whoam {

        background-image: none;

    }
}
@media(max-width:500px){
    .tarrifs_title, .whoam_title, .module_title, .title_skills {
    font-size: 25px
    }
    .title_teacher {
        font-size: 40px;
    }
    .text_teacher {
        font-size: 18px;
        padding-left: 0px;
    }
}
@media(max-width:425px){
    .teacher_img {
        width: 270px;
    }
    .btn_moduls_block1.active, .btn_moduls_block2.active, .btn_moduls_block3.active, .btn_moduls_block4.active, .btn_moduls_block5.active {
        padding: 9px 60px;
    }
}
@media(max-width:400px){
    .btn_moduls_block1, .btn_moduls_block2, .btn_moduls_block3, .btn_moduls_block4, .btn_moduls_block5 {
        margin-top: 30px;
        padding: 9px 48px;
    }
    .text_moduls_btn_block {
     padding-top: 0px;
        cursor: pointer;
        font-size: 14px;
    }
}
@media(max-width:370px){
    .block_moduls {
        padding: 56px 47px;
    }
    .btn_moduls_block {
        padding: 9px 12px;
    }
    .title_teacher {
        font-size: 34px;
    }
    .teacher_content_img {
        padding-left: 0px;
    }
}
@media(max-width:440px){
    .btn_tariffs {

        margin-left: 0px;

    }
}
@media(max-width:410px){
    .sub_title_tariffs_block {
        font-size: 26px;

    }
    .text_tariffs_block {
        font-size: 17px;
    }
}
@media(max-width:330px){
    .btn_moduls_block1, .btn_moduls_block2, .btn_moduls_block3, .btn_moduls_block4, .btn_moduls_block5 {
        margin-top: 30px;
        font-size: 14px;
        padding: 9px 34px;
    }
    .sub_title_block_moduls {
        font-size: 18px;
    }
    .module .container {
        background-image: none;
    }
}
@media(max-width:320px){
    .block_moduls {
        padding: 47px 35px;
    }
    .href_btn_tariffs {
        color: #FFC32C;
        font-size: 16px;
    }  
      .teacher_img {
        width: 224px;
    }
    .title_teacher {
        font-size: 29px;
    }
    .link_whoam {
        font-size: 17px;
    }
    .tarrifs_title, .whoam_title, .module_title, .title_skills {
        font-size: 23px;
    }
    .list_left_skills li {
        font-size: 18px;
    }
}
@media(max-width:300px){
    .teacher_img {
        width: 220px;
    }

}